.banner {
  background:
    url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0,
    linear-gradient(#65a93c 305px, #ffffff 305px);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background:
      url("../img/index-background-mobile@2x.jpg") 50% 0 / auto 305px no-repeat,
      linear-gradient(#65a93c 305px, #ffffff 305px);
  }
}

.banner__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @include center;
  min-height: 504px; //сетка
  padding-top: 28px;
  padding-bottom: 22px;
}

.banner__title {
  @include indents-0;
  margin-bottom: 25px;

  @include oswald-r;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: none;

  color: #ffffff;
}

.banner__lead {
  margin-bottom: 28px;

  @include oswald-r;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.banner__button {
  position: absolute;
  width: 280px;
  height: 40px;
  bottom: 22px;
  right: 20px;
}

// TABLET
@media (min-width: $tablet-width) {
  .banner {
    background: none;
  }

  .banner__wrapper {
    max-width: $tablet-width;
    width: 100%;
    padding-top: 21px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 0px;
  }

  .banner__text-box {
    position: relative;
    z-index: 2;
    padding-left: 88px;
  }

  .banner__title {
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $title-color;
  }

  .banner__lead {
    margin-bottom: 47px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $title-color;
  }

  .banner__image {
    margin-top: -80px;
  }

  .banner__button {
    position: static;
    width: 245px;
    height: 52px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

// DESKTOP
@media (min-width: $desktop-width) {
  .banner {
    width: auto;
    margin-bottom: 78px;

    background:
      linear-gradient(to right, #ffffff 50%, transparent 50%),
      url("../img/index-background-desktop@1x.jpg") no-repeat 100% 0%,
      linear-gradient(to right, #ffffff 50%, #65a93c 50%);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background:
        linear-gradient(to right, #ffffff 50%, transparent 50%),
        url("../img/index-background-desktop@2x.jpg") 100% 0% / 720px auto no-repeat,
        linear-gradient(to right, #ffffff 50%, #65a93c 50%);
    }
  }

  .banner__wrapper {
    max-width: $desktop-width;
    width: 100%;
    min-height: 696px; //сетка

    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 222px;
  }

  .banner__text-box {
    position: static;
    width: 50%;
    padding-left: 80px;
  }

  .banner__image {
    position: relative;
    left: -160px;
  }

  .banner__lead {
    margin-bottom: 52px;
  }

  .banner__button {
    position: static;
  }
}
