.banner {
  width: 320px;
  min-height: 504px; //сетка
  margin: 0 auto;
  padding-top: 26px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 22px;

  background:
    url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0,
    linear-gradient($theme-color 305px, #ffffff 305px);
}

.banner__title {
  @include indents-0;
  margin-bottom: 25px;

  @include oswald-r;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: none;

  color: #ffffff;
}

.banner__lead {
  margin-bottom: 28px;

  @include oswald-r;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.banner__image {
  display: none;
}

@media (min-width: $tablet-width) {
  .banner {
    position: relative;

    width: $tablet-width;
    min-height: 828px; //сетка
    padding-top: 21px;
    padding-right: 30px;
    padding-left: 118px;
    background: none;
  }

  .banner__title {
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $title-color;
  }

  .banner__lead {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $title-color;
  }

  .banner__image--mobile {
    display: none;
  }

  .banner__image {
    display: block;
  }

  .banner__button {
    position: absolute;
    top: 250px;
    left: 118px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    position: unset;

    display: flex;
    width: auto;
    padding-top: 144px;

    background-image: linear-gradient(to right, #ffffff 50%, $theme-color 50%);
  }

  .banner__text-box {
    width: 50%;
    padding-left: 5.5%;
    padding-top: 78px;
  }

  .banner__lead {
    margin-bottom: 52px;
  }

  .banner__button {
    position: unset;
  }
}
