.banner {
  width: 320px;
  min-height: 504px; //сетка
  margin: 0 auto;
  padding-top: 26px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 22px;

  background:
    url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0,
    linear-gradient($theme-color 305px, #ffffff 305px);
}

.banner__title {
  @include indents-0;
  margin-bottom: 25px;

  @include oswald-r;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: none;

  color: #ffffff;
}

.banner__lead {
  margin-bottom: 28px;

  @include oswald-r;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.banner__image {
  display: none;
}
// TABLET
@media (min-width: $tablet-width) {
  .banner {
    width: $tablet-width;
    min-height: 842px; //сетка
    padding-top: 21px;
    padding-right: 30px;
    padding-left: 30px;
    background: none;
  }

  .banner__wrapper {
    padding-left: 88px;
  }

  .banner__title {
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $title-color;
  }

  .banner__lead {
    margin-bottom: 47px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $title-color;
  }

  .banner__image--mobile {
    display: none;
  }

  .banner__image {
    display: block;
  }
}
// DESKTOP
@media (min-width: $desktop-width) {
  .banner {
    width: auto;

    @include indents-0;
    min-height: 696px; //сетка
    padding-top: 144px;
    margin-bottom: 78px;

    background-image: linear-gradient(to right, #ffffff 50%, $theme-color 50%);
  }

  .banner__wrapper {
    display: flex;

    @include indents-0;
    width: $desktop-width;
    margin: 0 auto;
  }

  .banner__text-box {
    width: 50%;
    padding-left: 190px;
    padding-top: 78px;
  }

  .banner__lead {
    margin-bottom: 52px;
  }

  .banner__button {
    position: unset;
  }
}
