.button {
  display: block;
  width: 100%;

  @include indents-0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;

  @include oswald-r;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-color: $theme-color;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.button--show-more {
  background-color: $bg-grey;
  color: $light-black4;
}

@media (min-width: $tablet-width) {
  .button {
    width: 245px;

    padding-top: 16px;
    padding-bottom: 16px;
    height: 52px; //временно

    font-size: 20px;
    line-height: 20px;
  }
}
