.catalogues {
  @include center;
  min-height: 552px; //сетка
  padding-bottom: 15px;
}

.catalogues__list {
  list-style: none;

  @include indents-0;
}

@media (max-width: $mobile-width-only) {
  .catalogues__list .catalogues__item:last-child {
    margin-bottom: 0;
  }
}

.catalogues__item {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .catalogues {
    max-width: $tablet-width;
    width: 100%;

    min-height: 775px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .catalogues__list {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .catalogues {
    max-width: $desktop-width;
    width: 100%;

    min-height: 375px; //сетка
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0;
  }

  .catalogues__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
