.catalogues {
  width: 320px;
  min-height: 552px; //сетка

  @include indents-0;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.catalogues__list {
  list-style: none;

  @include indents-0;
}

.catalogues__item {
  position: relative;
}

@media (min-width: $tablet-width) {
  .catalogues {
    width: $tablet-width;
    min-height: 775px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalogues {
    width: $desktop-width;
    min-height: 375px; //сетка
    padding-left: 110px;
    padding-right: 110px;
  }

  .catalogues__list {
    display: flex;
    justify-content: space-between;
  }
}
