.catalog {
  position: relative;
  min-height: 266px; //сетка

  padding-left: 21px;
  padding-right: 21px;
  padding-top: 22px;
  padding-bottom: 22px;

  background-color: $bg-grey;
}

.catalog__image {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-image: url("../img/circle.svg");

  &::before {
    position: absolute;
    content: "";
    width: 67px;
    height: 51px;
    background-repeat: no-repeat;
  }

  &--slim::before {
    left: 8px;
    top: -4px;

    background-image: url("../img/icon-cat-slim.svg");
  }

  &--pro::before {
    left: -8px;
    top: 9px;

    background-image: url("../img/icon-cat-pro.svg");
  }
}

.catalog__header {
  @include indents-0;
  padding-left: 72px;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-bottom: 25px;

  @include oswald-r;
  font-size: 24px;
  line-height: 37px;
  color: $title-color;
  text-align: left;
}

.catalog__description {
  padding-bottom: 20px;
  margin-bottom: 19px;
  border-bottom: 2px solid #d9d9d9;
}

.catalog__button {
  position: relative;
  padding-right: 50px;

  @include oswald-r;
  font-size: 16px;
  line-height: 16px;
  color: $title-color;
  text-align: left;
}

.catalog__button::after {
  position: absolute;
  right: 16px;
  top: 20%;

  width: 25px;
  height: 12px;

  content: "";
  background-image: url("../img/icon-right-arrow-long.svg");
}

.catalog__button:hover::after {
  right: 7px;
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.catalog__button:active {
  opacity: 0.3;
}

//TABLET:
@media (min-width: $tablet-width) {
  .catalog {
    min-height: 372px; //сетка
    margin-bottom: 30px;
    padding-left: 52px;
    padding-right: 28px;
    padding-top: 72px;
  }

  .catalog__header {
    width: 340px;
    padding-left: 0;
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 37px;
  }

  .catalog__description {
    width: 372px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .catalog__description--pro {
    width: 340px;
  }

  .catalog__image {
    top: 92px;
    left: 445px;
    width: 200px;
    height: 200px;

    &--slim::before {
      left: 30px;
      top: -13px;

      width: 141px;
      height: 194px;
    }

    &--pro::before {
      left: -33px;
      top: 44px;

      width: 268px;
      height: 113px;
    }
  }

  .catalog__button {
    font-size: 20px;
    line-height: 20px;
  }

  .catalog__button::after {
    top: 10px;
    right: 0;
  }

  .catalog__button:hover::after {
    right: -10px;
  }
}

//DESKTOP:
@media (min-width: $desktop-width) {
  .catalog {
    width: 570px; //сетка
    padding-left: 52px;
    padding-top: 73px;
    margin-bottom: 0;
  }

  .catalog__header {
    width: 380px;
    padding-left: 163px;
    margin-bottom: 69px;
  }

  .catalog__description {
    width: 462px;
    margin-bottom: 11px;
  }

  .catalog__description--pro {
    width: 446px;
  }

  .catalog__image {
    top: 50px;
    left: 52px;
    width: 100px;
    height: 100px;

    &--slim::before {
      left: 14px;
      top: -5px;

      width: 71px;
      height: 97px;
    }

    &--pro::before {
      left: -18px;
      top: 22px;

      width: 134px;
      height: 57px;
    }
  }
}
