.contacts {
  @include center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-height: 475px; //сетка
  outline: 1px solid green;
}

.contacts__text-box {
  display: flex;

  @include center;
  padding-top: 15px;
  padding-bottom: 13px;

  background-color: #ffffff;
}

.contacts__text-box--grey {
  background-color: $bg-grey;
}

.contacts__title {
  width: 50%;

  @include oswald-r;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $title-color;
}

.contacts__address {
  width: 50%;
}

.contacts__map {
  width: 100%;
}

.contacts__map iframe {
  display: block;
}

//TABLET:
@media (min-width: $tablet-width) {
  .contacts {
    outline: 1px solid green;
    min-height: 597px; //сетка
  }

  .contacts__text-box {
    max-width: $tablet-width;
    width: 100%;
    min-height: 400px;

    padding-top: 48px;
    padding-left: 72px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .contacts__title {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 400px; //сетка
  }

  .contacts__text-box-wrapper {
    position: relative;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
  }

  .contacts__text-box {
    position: absolute;
    top: 65px;
    width: 570px;
    min-height: 50%; //сетка
  }

  .contacts__text-box--grey {
    background-color: #ffffff;
  }
}
