.contacts {
  @include center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-height: 475px; //сетка
  // outline: 1px solid green;
}

.contacts__text-box-wrapper {
  width: 100%;
  background-color: #ffffff;
}

.contacts__text-box-wrapper--grey {
  background-color: $bg-grey;
}

.contacts__text-box {
  display: flex;
  justify-content: space-between;
  min-height: 114px;

  @include center;
  padding-top: 29px;
  padding-bottom: 11px;
}

.contacts__title {
  width: 50%;

  @include indents-0;
  padding-right: 10px;
  margin-bottom: 14px;

  @include oswald-r;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: $title-color;
}

.contacts__address {
  width: 50%;
}

.contacts__address1,
.contacts__address2 {
  @include indents-0;
  line-height: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.contacts__map {
  position: relative;
  display: block;
  width: 100%;
  height: 365px;
}

.contacts__map-img {
  margin: 0 auto;
  height: 365px;
}

.contacts__map-pin {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.contacts__map--hide {
  display: none;
}

//---------------------------------TABLET:
@media (min-width: $tablet-width) {
  .contacts {
    // outline: 1px solid green;
    min-height: 597px; //сетка
  }

  .contacts__text-box {
    max-width: $tablet-width;
    width: 100%;
    min-height: 200px;

    padding-top: 65px;
    padding-left: 72px;
    padding-right: 72px;
    margin: 0 auto;
  }

  .contacts__title {
    width: 240px;
    margin-top: 0;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address1,
  .contacts__address2 {
    font-size: 16px;
    text-align: right;
  }

  .contacts__address1 {
    margin-bottom: 20px;
  }

  .contacts__map,
  .contacts__map-img {
    height: 395px;
  }
}

//---------------------------------DESKTOP:
@media (min-width: $desktop-width) {
  .contacts {
    min-height: 400px; //сетка
  }

  .contacts__text-box-wrapper {
    position: relative;
    z-index: 1;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
  }

  .contacts__text-box {
    // outline: 1px solid green;
    position: absolute;
    top: 96px;
    left: 40px;
    width: 570px;
    height: 204px; //сетка
    padding-top: 66px;
    padding-left: 76px;
    padding-right: 90px;

    background-color: #ffffff;
  }

  .contacts__title {
    width: 225px;
    padding-right: 0;
  }

  .contacts__title,
  .contacts__address {
    height: 140px;
    overflow: auto;
  }

  .contacts__address {
    width: auto;
    max-width: 50%;
  }

  .contacts__address1,
  .contacts__address2 {
    text-align: left;
  }

  .contacts__map,
  .contacts__map-img {
    height: 400px;
  }

  .contacts__map-pin {
    top: 40%;
    left: 73%;
  }
}
