.form {
  width: 100%;
  overflow: hidden; // для зелёныз полос
}

.form__form {
  display: flex;
  flex-direction: column;

  @include center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 32px;
}

// ------------------ Типографика:
.form__title {
  @include indents-0;
  margin-bottom: 26px;

  @include oswald-r;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  text-transform: none;
  overflow-wrap: break-word;
  color: $title-color;
}

.form__lead {
  display: block;
  width: 230px;

  @include indents-0;
  margin-bottom: 14px;

  @include oswald-r;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  overflow-wrap: break-word;
  color: $title-color;
}

.form__legend {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;

  @include indents-0;
  margin-bottom: 33px;

  @include oswald-r;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  color: $title-color;
}

.form__explanation {
  display: block;

  @include indents-0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  overflow-wrap: break-word;
}

.form__text-label,
.form__radio-label,
.form__checkbox-label {
  max-width: 35%;

  @include oswald-r;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  overflow-wrap: break-word;
  color: $light-black2;
}

.form__checkbox-label,
.form__radio-label {
  max-width: 100%;
}

.form__text-input,
.form__textarea {
  @include indents-0;
  @include oswald-r;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: $light-black4;
}

.form__text-input::placeholder,
.form__textarea::placeholder {
  color: $light-black4;
  opacity: 1;
}

.form__text-input::placeholder {
  line-height: 45px;
}

// ------------------ Сетка и прочее:
.form__header {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__row {
  display: flex;
  max-width: 280px;
  align-items: center;

  margin-bottom: 14px;
}

.form__row input,
.form__row label {
  display: block;
}

.form__group1 {
  @include indents-0;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;

  border: none;
}

.form__text-input {
  flex-grow: 1;
  height: 45px;

  padding-left: 12px;
  border: 1px solid rgba(205, 205, 205, 0.5);
}

.form__text-input:hover {
  outline: none;
  border-color: #cdcdcd;
}

.form__text-input:focus {
  outline: solid 2px #444444;
}

// .form__text-input:invalid {
//   border-color: #ff8282;
// }

.form__text-input:focus + .icon-mail,
.form__text-input:focus + .icon-phone {
  fill: $theme-color;
}

.form__text-label {
  flex-shrink: 0;
  margin-right: 15px;
}

.form__group2 {
  @include indents-0;
  padding-top: 27px;
  margin-bottom: 30px;

  border: 1px solid rgba(205, 205, 205, 0.5);
}

.form__radio-label {
  position: relative;

  padding-left: 64px;
  margin-bottom: 11px;
}

.form__radio-label::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 19px;

  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form__radio-label:hover::before {
  border-color: #bababa;
}

.form__radio-input:focus + .form__radio-label::before {
  border-color: $theme-color;
}

.form__radio-label:active::before,
.form__radio-label:active {
  opacity: 0.3;
}

.form__radio-input:checked + .form__radio-label::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 28px;

  content: "";
  width: 12px;
  height: 12px;
  background-color: $theme-color;
  border-radius: 50%;
}

.form__group3 {
  @include indents-0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 13px;
  border: none;
}

.form__group3-legend {
  width: 200px;
}

.form__legend::after {
  position: absolute;
  top: 28%;
  left: 100%;
  display: block;

  content: "";
  width: 100vw;
  height: 3px;
  background-color: $theme-color;
}

.form__text-input--email,
.form__text-input--phone {
  padding-left: 10px;
  padding-right: 35px;
}

.form__text-input--email {
  width: 220px;
}

.form__text-input--phone {
  width: 204px;
}

.form__row--email,
.form__row--phone {
  position: relative;
}

.icon-mail {
  position: absolute;
  top: 15px;
  right: 16px;
}

.icon-phone {
  position: absolute;
  top: 13px;
  right: 12px;
}

.form__group4 {
  min-height: 214px;

  @include indents-0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;

  border: none;
}

.form__group4-legend {
  width: auto;

  padding-right: 22px;
  margin-bottom: 36px;
}

.form__group4-legend::after {
  top: 63%;
}

.form__textarea {
  width: 100%;
  height: 150px;

  padding-top: 13px;
  padding-left: 14px;
  padding-right: 12px;

  border: 1px solid rgba(205, 205, 205, 0.5);
}

.form__textarea:focus {
  outline: solid 2px #444444;
}

.form__group5 {
  @include indents-0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 13px;

  border: none;
}

.form__group5-legend {
  width: auto;

  padding-right: 25px;
  margin-bottom: 40px;
}

.form__group5-legend::after {
  top: 58%;
}

.form__checkbox-label {
  position: relative;
  padding-left: 46px;
  margin-bottom: 11px;
}

.form__checkbox-label::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.form__checkbox-label:hover::before,
.form__checkbox-label:focus::before {
  border-color: #bababa;
}

.form__checkbox-label:active {
  opacity: 0.3;
}

.form__checkbox-input:focus + .form__checkbox-label::before {
  outline: 1px solid $theme-color;
}

.form__checkbox-input:checked + .form__checkbox-label::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;

  content: "";
  width: 22px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
}

.form__submit-button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  font-size: 16px;
}

// --------------------------------TABLET:
@media (min-width: $tablet-width) {
  .form__form {
    max-width: $tablet-width;
    width: 100%;

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 72px;
  }

  .form__header {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 25px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  .form__lead {
    width: 375px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__row {
    max-width: 635px;
  }

  .form__text-label,
  .form__text-input,
  .form__radio-label,
  .form__checkbox-label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__text-input::placeholder {
    line-height: 52px;
  }

  .form__legend {
    max-width: 630px;

    font-size: 36px;
    line-height: 36px;
  }

  .form__legend::after {
    top: 60%;
  }

  .form__legend::before {
    position: absolute;
    top: 60%;
    right: calc(100% + 40px);
    display: block;

    content: "";
    width: 100vw;
    height: 3px;
    background-color: $theme-color;
  }

  .form__group1 {
    padding-left: 41px;
    padding-right: 36px;
    padding-top: 26px;
    padding-bottom: 0;
    margin-bottom: 52px;
  }

  .form__group1 .form__row {
    margin-bottom: 20px;
  }

  .form__text-input {
    min-height: 52px;
    padding-left: 19px;
  }

  .form__group2 {
    margin-left: 40px;
    margin-right: 36px;
    padding-top: 34px;
    margin-bottom: 74px;
  }

  .form__radio-label {
    padding-left: 87px;
    margin-bottom: 20px;
  }

  .form__radio-label::before {
    left: 28px;

    width: 40px;
    height: 40px;
  }

  .form__radio-input:checked + .form__radio-label::after {
    left: 39px;

    width: 18px;
    height: 18px;
  }

  .form__group3 {
    padding-left: 40px;
    padding-right: 35px;
    margin-bottom: 46px;
  }

  .form__group3-legend {
    width: auto;
    padding-right: 41px;
    margin-bottom: 75px;
  }

  .form__group3 .form__row {
    margin-bottom: 20px;
  }

  .form__text-input--email,
  .form__text-input--phone {
    width: unset;

    padding-left: 19px;
  }

  .form__text-label--email {
    margin-right: 20px;
  }

  .form__text-label--phone {
    margin-right: 15px;
  }

  .icon-mail {
    top: 20px;
    right: 20px;
  }

  .icon-phone {
    top: 17px;
    right: 17px;
  }

  .form__group4 {
    min-height: 290px;

    padding-left: 40px;
    padding-right: 37px;
    margin-bottom: 61px;
  }

  .form__group4-legend {
    padding-right: 40px;
    margin-bottom: 77px;
  }

  .form__textarea {
    font-size: 20px;
    line-height: 30px;
    height: 173px;
    padding-top: 9px;
    padding-left: 18px;
  }

  .form__group5 {
    display: flex;
    flex-wrap: wrap;

    padding-left: 40px;
    padding-right: 40px;
  }

  .form__group5-legend {
    padding-right: 40px;
    margin-bottom: 66px;
  }

  .form__group5-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -2px;
  }

  .form__group5 .form__row {
    width: 40%;
    margin-bottom: 41px;
  }

  .form__group5 .form__row:nth-child(2n - 1) {
    margin-right: 92px;
  }

  .form__checkbox-label {
    padding-left: 59px;
  }

  .form__checkbox-label::before {
    width: 40px;
    height: 40px;
  }

  .form__checkbox-input:checked + .form__checkbox-label::after {
    left: 10px;
  }

  .form__submit-box {
    display: flex;
    align-items: center;

    padding-left: 41px;
    padding-right: 40px;
  }

  .form__submit-button {
    width: 283px;
    min-height: 52px;
    margin: 0;
    margin-right: 62px;

    font-size: 20px;
  }

  .form__explanation {
    font-size: 16px;
    line-height: 16px;
  }
}

// --------------------------------Desktop:
@media (min-width: $desktop-width) {
  .form__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: $desktop-width;
    width: 100%;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 82px;
  }

  .form__header {
    width: 100%;
    padding-top: 8px;
    margin-bottom: 52px;
  }

  .form__lead {
    padding-left: 0;
  }

  .form__legend {
    max-width: 1200px;
  }

  .form__group1 {
    width: 570px;
    padding: 0;
    margin-bottom: 0;
  }

  .form__group2 {
    width: 570px;
    margin: 0;
    padding: 0;
    padding-top: 34px;
    margin-bottom: 67px;
  }

  .form__group3 {
    padding: 0;
    margin-bottom: 48px;
  }

  .form__group3-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
  }

  .form__group3 .form__row {
    width: 570px;
  }

  .form__group3 .form__row:nth-child(2n -1) {
    margin-right: 79px;
  }

  .form__text-input--email,
  .form__text-input--phone {
    padding-left: 20px;
  }

  .form__group4 {
    width: 100%;
    min-height: 290px; //IE
    padding: 0;
    margin-bottom: 63px;
  }

  .form__group5 {
    width: 100%;
    padding: 0;
  }

  .form__group5-box {
    margin-bottom: 46px;
  }

  .form__group5 .form__row:nth-child(2n - 1) {
    margin-right: 40px;
  }

  .form__group5 .form__row {
    width: 285px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .form__group5 .form__row:last-child {
    width: 245px;
    margin-right: 0;
  }

  .form__submit-box {
    padding: 0;
  }

  .form__submit-button {
    width: 568px;
    margin-right: 84px;
  }
}
