.gift-banner {
  display: block;
  width: 100%;
  height: 289px; //сетка

  @include indents-0;
  margin-bottom: 35px;
  padding-top: 65px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $theme-color;
  background-size: 280px 289px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.gift-banner__link {
  display: block;
}

.gift-banner__icon {
  display: block;
  width: 56px;
  height: 61px;
  margin: 0 auto;
  margin-bottom: 60px;

  background: url("../img/icon-gift.svg") no-repeat;
}

.gift-banner__text {
  display: block;
  width: 165px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

//---------------------------------TABLET:
@media (min-width: $tablet-width) {
  .gift-banner {
    height: 200px;
    padding-top: 64px;
    padding-left: 90px;
    padding-right: 120px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .gift-banner__link {
    display: flex;
    justify-content: space-between;
  }

  .gift-banner__icon {
    margin: 0;
  }

  .gift-banner__text {
    padding-top: 7px;
    margin: 0;
    text-align: left;
  }
}

//---------------------------------DESKTOP:
@media (min-width: $desktop-width) {
  .gift-banner {
    width: 245px;
    height: 289px;
    padding: 20px;

    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }

  .gift-banner__link {
    display: block;
    padding-top: 44px;
  }

  .gift-banner__icon {
    margin: 0 auto;
    margin-bottom: 54px;
  }

  .gift-banner__text {
    width: 165px;
    margin: 0 auto;

    text-align: center;
  }
}
