.gift-banner {
  width: 100%;

  @include indents-0;
  margin-bottom: 35px;

  background-color: $theme-color;
}

.gift-banner__link {
  display: block;
}

.gift-banner__image {
  display: block;
  width: 280px;
  height: 289px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-color: $theme-color;
}

.gift-banner__icon {
  display: block;
  width: 56px;
  height: 61px;
  background: url("../img/icon-gift.svg") no-repeat;
}

.gift-banner__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $desktop-width) {
  .gift-banner {
    width: 245px;
    height: 100%;
  }
}
