.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;

  @include indents-0;
  @include oswald-m;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $title-color;
}

.main-nav__toggle {
  position: absolute;
  top: -29px;
  right: 3px;
  width: 19px;
  height: 19px;

  font-size: 0;

  background-color: transparent;
  border: none;
  background-image: url("../img/icon-close.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__menu-list {
  list-style: none;
}
