.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;

  @include indents-0;
  @include oswald-m;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $title-color;
}

.main-nav__toggle {
  position: absolute;
  top: -42px;
  right: 24px;
  width: 19px;
  height: 19px;

  font-size: 0;

  background-color: transparent;
  border: none;
  background-image: url("../img/icon-close.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__menu-list {
  @include indents-0;
  list-style: none;
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;

  border-top: 1px $border-grey solid;
}

@media (min-width: $tablet-width) {
  .main-nav {
    @include oswald-r;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: $light-black2;
  }

  .main-nav__menu-list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    padding-left: 18px;
    padding-right: 18px;

    border: none;
  }

  .main-nav__item:last-child {
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 50%;

    @include oswald-r;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    color: inherit;
  }

  .main-nav__menu-list {
    justify-content: center;
    padding-left: 75px;
  }
}
