.main-catalog {
  width: 320px;
  @include indents-0;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-catalog__title {
  @include indents-0;

  @include oswald-r;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  text-transform: none;
  color: $title-color;

  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
}

.main-catalog__list {
  @include indents-0;
  list-style: none;
}

.main-catalog__item {
  display: flex;
  flex-wrap: wrap;
  @include indents-0;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-grey;
}

.main-catalog__item-image {
  width: 50%;
}

.main-catalog__item-info {
  width: 50%;
}

.main-catalog__button {
  width: 100%;
}

.main-catalog__item-name h3 {
  @include indents-0;
  @include oswald-r;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $title-color;
}

.main-catalog__item-image img {
  display: block;
}

.main-catalog__item-properties {
  font-size: 12px;
  line-height: 16px;
}

.main-catalog__show-more-title {
  @include oswald-r;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $title-color;

  border-bottom: 1px solid $border-grey;
}
