.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 235px; //сетка
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  background-color: $bg-grey;
}

.page-footer__logo {
  min-height: 95px; //сетка
  padding-top: 39px;
  padding-left: 96px;
  padding-right: 96px;
}

.page-footer__social-links {
  display: flex;
  justify-content: center;
  min-height: 65px; //сетка

  @include indents-0;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  min-height: 79px; //сетка
}

.page-footer__copyright-link {
  font-size: 16px;
  line-height: 16px;
}


@media (min-width: $tablet-width) {
  .page-footer {
    width: $tablet-width;
    justify-content: space-between;
    flex-direction: row;
    min-height: 150px; //сетка

    padding-left: 30px;
    padding-right: 30px;
  }

  .page-footer__social-links {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: $desktop-width;
    padding-left: 40px;
    padding-right: 40px;
  }
}
