.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: $bg-grey;
}

.page-footer__wrapper {
  @include center;

  display: flex;
  flex-direction: column;
  min-height: 242px; //сетка
}

.page-footer__logo {
  min-height: 91px; //для IE

  padding-top: 35px;
  padding-bottom: 32px;
}

.page-footer__logo:hover {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

.page-footer__img {
  margin: 0 auto;
}

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 21px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.page-footer__copyright-link:active {
  opacity: 0.3;
}

.page-footer__copyright-icon {
  width: 27px;
  height: 34px;
}

.page-footer__copyright-link:hover .page-footer__copyright-icon {
  fill: $theme-color;
}

.page-footer__copyright-link:active .page-footer__copyright-icon {
  fill: $theme-color;
  opacity: 0.3;
}

//---------------------------------TABLET:
@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    max-width: $tablet-width;
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
    min-height: 150px; //сетка

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .page-footer__logo {
    width: 30%;
    min-height: 45px; //для IE

    @include indents-0;
    padding-top: 13px;
    margin-right: 35px;
  }

  .page-footer__img {
    margin: 0;
  }

  .page-footer__social {
    width: 124px;

    @include indents-0;
    margin-right: 100px;
    padding-top: 9px;
    border: none;
  }

  .page-footer__copyright-link {
    width: 165px;
    padding-top: 0;
  }
}

//---------------------------------DESKTOP:
@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    max-width: $desktop-width;
    width: 100%;

    padding-left: 40px;
    padding-right: 40px;
  }

  .page-footer__social {
    margin-right: 250px;
  }

  .page-footer__copyright-link {
    padding-top: 4px;
  }
}
