.page-header {
  display: flex;
  flex-direction: column;

  @include center;
  min-height: 65px; //сетка

  @include oswald-m;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $title-color;

  background-color: #ffffff;
}

.page-header__logo-link {
  display: block;

  @include indents-0;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__logo-img {
  display: block;

  @include indents-0;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    min-height: 108px; //сетка
    min-width: $tablet-width;

    padding-right: 30px;
    padding-left: 30px;
    padding-top: 19px;
    padding-bottom: 30px;
  }

  .page-header__logo-link {
    @include indents-0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 52px;

    min-height: 180px; //сетка
    width: $desktop-width;
  }

  .page-header--index {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);

    color: #ffffff;
    background-color: transparent;
  }

  .page-header--catalog {
    color: $title-color;
  }
}
