.page-header {
  @include center;
  padding-top: 11px;
  padding-bottom: 15px;
  min-height: 65px; //сетка

  @include oswald-m;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $title-color;

  background-color: #ffffff;
}

.page-header__logo-link {
  display: block;
}

.page-header__logo-img {
  display: block;

  @include indents-0;
}

.page-header__logo-link[href] {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

//TABLET:
@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 120px; //сетка
    max-width: $tablet-width;
    width: 100%;

    padding-right: 30px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .page-header__logo-link {
    @include indents-0;
  }

  .page-header__logo-img {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 52px;

    min-height: 180px; //сетка
    max-width: $desktop-width;
    width: 100%;
  }

  .page-header--index {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0;
    transform: translate(-50%);

    color: #ffffff;
    background-color: transparent;
  }

  .page-header--catalog {
    color: $title-color;
  }

  .page-header__logo-img {
    width: 203px;
    height: 60px;
  }
}
