.page-footer {
  @include center;

  display: flex;
  flex-direction: column;
  min-height: 242px; //сетка
  background-color: $bg-grey;
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.page-footer__social-links {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
}

.page-footer__copyright-link {
  display: block;
  font-size: 16px;
  line-height: 16px;
}

.page-footer__copyright-icon {
  width: 27px;
  height: 34px;
}

//---------------------------------TABLET:
@media (min-width: $tablet-width) {
  .page-footer {
    max-width: $tablet-width;
    width: 100%;

    justify-content: space-between;
    flex-direction: row;
    min-height: 150px; //сетка

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .page-footer__logo {
    width: 30%;

    @include indents-0;
    padding-top: 10px;
  }

  .page-footer__social-links {
    width: 150px;

    @include indents-0;
    border: none;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    width: 30%;

    @include indents-0;
  }

  .page-footer__copyright-image {
    margin-left: 22px;
  }

}

//---------------------------------DESKTOP:
@media (min-width: $desktop-width) {
  .page-footer {
    max-width: $desktop-width;
    width: 100%;

    padding-left: 40px;
    padding-right: 40px;
  }
}
