.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include indents-0;
  margin-right: -35px;
  padding-top: 23px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 15px;
  list-style: none;
  font-size: 0;
}

.social__item {
  min-width: 22px;
  margin-right: 35px;
  text-align: left;
}

.social__link {
  display: inline-block;
}

.social__link:hover .social__icon-insta,
.social__link:hover .social__icon-fb,
.social__link:hover .social__icon-vk {
  fill: $theme-color;
}

.social__link:active .social__icon-insta,
.social__link:active .social__icon-fb,
.social__link:active .social__icon-vk {
  fill: $theme-color;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social {
    @include indents-0;
    margin-right: -28px;
    padding-top: 9px;
    padding-right: 19px;
  }

  .social__item {
    min-width: unset;
    min-height: 28px;
    margin-right: 28px;
  }

  .social__icon-fb {
    width: 14px;
    height: 28px;
  }

  .social__icon-vk {
    width: 30px;
    height: 16px;
  }

  .social__icon-insta {
    width: 23px;
    height: 23px;
  }
}
