.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include indents-0;
  padding-top: 23px;
  padding-bottom: 11px;
  padding-left: 73px;
  padding-right: 82px;
  list-style: none;
  font-size: 0;
}

.social-link {
  display: block;
}

.social-link:hover .icon-insta,
.social-link:hover .icon-fb,
.social-link:hover .icon-vk {
  fill: $theme-color;
}

.social-link:active .icon-insta,
.social-link:active .icon-fb,
.social-link:active .icon-vk {
  fill: $theme-color;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .icon-fb {
    width: 14px;
    height: 28px;
  }

  .icon-vk {
    width: 30px;
    height: 16px;
  }

  .icon-insta {
    width: 23px;
    height: 23px;
  }
}
