@font-face {
  font-family: "Oswald Medium";
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald Regular";
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include indents-0;
  min-width: $mobile-width;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-align: left;
  color: $light-black4;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
