@font-face {
  font-family: "oswaldmedium";
  src:
    url("../../fonts/oswaldmedium.woff2") format("woff2"),
    url("../../fonts/oswaldmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldregular";
  src:
    url("../../fonts/oswaldregular.woff2") format("woff2"),
    url("../../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
