@mixin oswald-r {
  font-family: "Oswald Regular", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

@mixin oswald-m {
  font-family: "Oswald Medium", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

@mixin indents-0 {
  margin: 0;
  padding: 0;
}
