// widths:
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
// colors:
$theme-color: #68b738;
$title-color: #111111;
$light-black2: #222222;
$light-black4: #444444;
$bg-grey: #f2f2f2;
$border-grey: #ededed;
